.section--footer {
  font-family: $font1;
  background-color: #f3f5f6;
  .section-layer {
    padding: 2.4rem;
    display: block;
    .box-content {
      width: 100%;
      max-width: 100%;
      text-align: center;
      color: $color-gray0;
      font-size: 1.6rem;
      line-height: 1.38;
    }
    .copyrights {
      margin-bottom: 1rem;
      @media (max-width: 600px) {
        margin-bottom: 1rem;
      }
    }
    .rules {
      margin-bottom: 1rem;
      .text-link {
        text-decoration: underline;
        color: $color-gray0;
        &:hover {
          text-decoration: none;
        }
      }
    }

    @media (max-width: 600px) {
      padding: 1.8rem;
    }
  }
}
