.page__header {
  padding:1.2rem 0 1.2rem;background: #000;
  .container{
    display: flex;justify-content: space-between;align-items: center;
  }


  .logo{width: 5.6rem;display: block;
    img,svg{max-width: 100%;display: block;margin:0;}
  }

  .page-nav{
    .menu{display: flex;list-style: none;margin:0;padding: 0;
      &__item{}
    }
    .nav-item{padding: .8rem;border-radius: .8rem;
      color:#fff;font-size: 1.2rem;line-height:1.333 ;
      &:hover{background: #23272F}
    }
  }

  @media (max-width: $tablet) {
    padding: 1.2rem 0;
    .logo{width: 4rem}
    .page-nav{
      .menu{display: none}
    }
  }
}


.section--teaser{position: relative;background: #000;
  &:before{@extend %ab;
    background: #fff;border-radius:2.4rem 2.4rem 0 0;
    height:2.4rem;width: 100%;
    bottom:0;left:0;margin-top: -2.4rem;
  }
  &:after{@extend %ab;z-index: -1;top:0;width: 100%;height: 2.4rem;
    background: #000;
  }
  .container{
    //padding-top: 6rem;
    padding-bottom:6rem;
  }

  @media (max-width: $mobile){
    .container{padding-top: 0rem;padding-bottom: 4.8rem}
  }
}

.page-teaser{position: relative;height: 40rem;
  &__pic{width: 100%;min-height: 36rem;height: 100%;
    background: $color-blue;
    border-radius: 4.8rem;overflow: hidden;transform: translateZ(0);
    .pic-layer{
      img{display:block;pointer-events: none;}

      &.teaser-pic--picture{
        position: absolute;right: 0;bottom: 0;
        max-height: 90%;
      }
      &.teaser-pic--bg{
        height: 100%;width:100%;
        img{float: right;margin: 0;height: 100%;min-width: 100%;object-fit: cover;}
      }
    }
  }
  &__text{background: #000;
    position: absolute;top:2.4rem;left:2.4rem;bottom:2.4rem;
    width: 52rem;max-width: 100%;
    border-radius: 2.4rem;overflow: hidden;
    padding: 2.4rem;color:#fff;
    display: flex;flex-direction: column;justify-content: space-between;
  }

  &__title{font-size: 3.8rem;font-family: $font2;line-height:1;margin-bottom: .8rem;
    text-transform: uppercase;
    .lowercase{text-transform: none}
  }
  &__subtitle{font-size: 1.5rem;}
  &__buttons{margin-top: auto;
    .btn{margin-bottom: 0;width: 100%}
  }

  @media (max-width: $mobile) {
    height: 36rem;
    &__pic{border-radius: 3.2rem;
      .pic-layer{
        &.teaser-pic--bg{
          img{margin-right: -20%}
        }
      }
    }
    &__text{top:auto;
      border-radius: 2.4rem;bottom:.8rem;left:.8rem;right: .8rem;
      padding: 2.4rem;width: calc(100% - 1.6rem);
    }
    &__title{font-size: 2.2rem}
    &__subtitle{font-size: 1.2rem;
      p{font-size: inherit;margin-bottom: 0}
    }
    &__buttons{position: absolute;top:0;left:0;width: 100%;height: 100%;
      .teaser-more{
        opacity: 0;position: absolute;height: 100%;width: 100%;
      }
    }
  }
}
